#product_type_validation_grid_table .grid-listing-column-product_type {
    max-width: 200px;
}

#product_type_validation_grid_table .grid-listing-column-name {
    width: 300px;
}

#product_type_validation_grid_table .product-type-validation-grid-error-message-block {
    width: 300px;
}